
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.abc{
    min-height: 100vh;
    width:100%;
    display: flex;
}
.list{
    display:flex;
    gap:3.5rem;
    height:15vh;
    width:100%;
    justify-content: center;
    align-items: center;
    position:fixed;
}
.list li{
    list-style: none;
}
.list li a{
    text-decoration: none;
    text-transform:uppercase;
    font-size:1rem;
    color:rgb(226, 194, 155);
}
   .left,.right{
    height:100vh;
    display:flex;
    align-items: center;
   }
 .left{
    background:rgb(44, 40, 40);
    width:70%;
    padding-left:3rem;
 }
 .right{
    background: linear-gradient(-45deg, rgb(142, 80, 200), rgb(44,40,40) 70%);
    width:30%;

 }

.icons .fa-brands{
    color:#bbb;
    font-size:1.7rem;
}
.icons{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:3rem;

}
.content{
    margin-left:4rem;
}
.content h2{
    font-size:1.5rem;
    color:#e7b4b4;
}
.content h1{
    font-size:4rem;
    color:rgb(137, 106, 167);
}
.content p{
    font-size:1.1rem;
    color:#e0a4d9;
    max-width:38rem;
    margin:1.1rem 0 3rem 0;
}
.btn button{
     border: .1rem solid blueviolet;
     font-size:1.1rem;
     padding:.6rem 1.5rem;
     border-radius: .5rem;
}

button:nth-child(1){
    background: rgb(114, 58, 167);
}
button:nth-child(2){
    background:#e7b4b4;
    margin-left:2rem;
}
button:nth-child(1):hover{
    background:rgb(202, 172, 136);
}
button:nth-child(2):hover{
    background:rgb(158, 86, 225);
}
.icons .fa-brands{
    cursor: pointer;
    background: linear-gradient(#fff,blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    
}
.design .circle{
    aspect-ratio: 1;
    position:absolute;
    border-radius: 50%;
    top:50%;
    left:70%;
    transform:translate(-50%,-50%);

}
.circle:nth-child(1){
      background: linear-gradient(90deg, transparent, rgb(44, 40, 40) 50% );
      width: 38rem;
}
.circle:nth-child(2){
    width: 30rem;
    /* background-image: url("https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"); */
    /* background-image: url("/css/20240118_154526.jpg"); */
     /* background-image: url("/css/jyoti.jpg"); */
     background-image: url("/css/Snapchat-1739741420.jpg");
    background-size: 100%;
/* background-size: fill; */
    background-repeat: no-repeat;
    border: 1rem solid rgb(218, 188, 188);
    box-shadow: 0 0 4rem rgb(226, 190, 190),
    inset 0 0 1rem rgb(226, 190, 190),
    0 0 2rem rgb(228, 185, 185),
    inset 0 0 2rem rgb(227, 188, 188),
    0 0 3rem rgb(227, 188, 188)
    ;
}

